@model EntityLayer.DispatchPage
@{
    ViewData["Title"] = "Dispatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-container">
    

    <div class="form-header">
        Araç Sevki Yap
    </div>


    <form asp-action="DispatchPage" method="post" m-5 p-4>
        <div class="form-group">
            <label>Plaka:</label>
            <input class="form-control" asp-for="Plate" />
        </div>

       <div>
            <label>X-Ray Bilgisi:</label>
            <input class="form-control" asp-for="XrayStatus" />
        </div>  

        <div>
            <label>Sevk Nedeni:</label>
            <select asp-for="DispatchReasonId" class="form-control" asp-items="ViewBag.DispatchReasons">
                <option value="">-- Seçiniz --</option>
            </select>
        </div>

        <div>
            <label>İşlem Tarihi:</label>
            <input class="form-control" asp-for="TransactionDate" />
        </div>


            <button type="submit">Gönder</button>
    </form>

    <div>
        <a asp-action="DispatchList" class="btn btn-primary"> Sevk Yapan Araçları Listele</a>
    </div>
</div>

<style>
    .form-container {
        margin: 40px auto;
        max-width: 600px;
        background-color: #fff; 
        border-radius: 8px;
        border: 2px solid #222d56; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .form-header {
        font-size: 24px;
        color: #222d56; 
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        color: #222d56; 
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #222d56; 
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
    }

    button[type="submit"] {
        background-color: #d5ab65;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        display: block;
        width: 100%;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
            background-color: #d5ab65;
        }

    a.btn-primary {
        background-color: #222d56;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        display: block;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    a.btn-primary:hover {
            background-color: #222d56;
    }
</style>